.container {
  display: flex;
  gap: var(--gap);
}

.content {
  flex-basis: 50%;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
  }

  .content {
    flex-basis: 100%;
  }
}

@media (max-width: 560px) {
  .container {
    flex-direction: column;
  }

  .content {
    flex-basis: 100%;
  }
}
