.section {
  margin-bottom: 80px;
}

@media (max-width: 1240px) {
  .section {
    margin-bottom: 60px;
  }
}

@media (max-width: 920px) {
  .section {
    margin-bottom: 60px;
  }
}

@media (max-width: 560px) {
  .section {
    margin-bottom: 60px;
  }
}
